/* 	The following is an modified version of Meyer's famous 
	CSS Reset, found at http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td, canvas, footer, header, 
menu, nav 				{
	margin: 			0;
	padding: 			0;
	border: 			0;
	font-size: 			100%;
	font: 				inherit;
	vertical-align:		baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
						{
	display: 			block;
}
body 					{
	line-height: 		1;
	color:				#333;
}

ol, ul 					{
	list-style: 		none;
	padding: 			0;
}
table 					{
	border-collapse: 	collapse;
	border-spacing: 	0;
}

/*	End of the reset	*/


.btn		{
	font-size:  15px;
	min-width: 	30px;
	height:		20px;
	padding:	8px;
	display:   	inline-block;
	margin: 	10px auto;
	border-radius: 5px;
	border:		1px solid #eee;
	background-color: #0ac;
	font-family: sans-serif;
	cursor: 	pointer;
	&:hover{
		background-color: lighten(#0ac, 6%);
	}
	&:active{	
		background-color: darken(#0ac, 4%);
	}

}

.menu	{
	position:  	fixed;
	top:		20px;
	right:		0;
	width:		10%;
	min-width: 	120px;
	background-color: #eee;
	text-align: center;

	h4	{
		font-family: serif;
		margin: 	10px auto 0;
		font-size: 	2em;
		font-style: italic;
		letter-spacing: -3px;
	}

	#forget {
		
		color:		#333;
		background-color: #ff6666;
		
		&:hover{
			background-color: lighten(#ff6666, 6%);
		}
		&:active {
			background-color: darken(#ff6666, 4%);
			cursor: 	crosshair;
		}

	}

}


.player-info{
	width:		20%;
	min-width: 	300px;
	padding: 	25px;
	min-height: 100px;
	box-shadow: 0px 0px 8px 0px #ddd;
	text-align: center;
	position: 	fixed;
	overflow-y: scroll;
	left:		0;
	top:		20px;

	h1	{
		font-size: 	 1.5em;
		font-family: sans-serif;
		margin: 	10px auto 25px;
	}
	.deet 	{
		width:			70%;
		padding: 		10px;
		margin: 		20px auto;
		border: 		1px solid #333;
		border-radius: 	5px;


		h2	{
			font-family: serif;
			font-size: 	1.2em;
			background-color: #fff;
			margin: 	-20px auto 10px;
		}
		span.val {
			font-size: 		2.4em;
			font-family: 	sans-serif;
		}		
	}


	

}




