/* 	The following is an modified version of Meyer's famous 
	CSS Reset, found at http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td, canvas, footer, header, 
menu, nav 				{
	margin: 			0;
	padding: 			0;
	border: 			0;
	font-size: 			100%;
	font: 				inherit;
	vertical-align:		baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
						{
	display: 			block;
}
body, html{
	line-height: 		1;
	color:				#333;
	height:				100%;
	min-height: 		100%;
	background-color: 	rgba(244,244,244,0.95);
}

ol, ul 					{
	list-style: 		none;
	padding: 			0;
}
table 					{
	border-collapse: 	collapse;
	border-spacing: 	0;
}

/*	End of the reset	*/


.btn		{
	font-size:  18px;
	min-width: 	30px;
	height:		20px;
	padding:	8px;
	display:   	inline-block;
	margin: 	10px auto;
	border-radius: 5px;
	border:		1px solid #eee;
	background-color: #0ac;
	cursor: 	pointer;
	color:		#fff;
	font-family: sans-serif;
	font-weight: 900;
	letter-spacing: -1px;
	line-height: 	1em;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover{
		background-color: lighten(#0ac, 6%);
	}
	&:active{	
		background-color: darken(#0ac, 4%);
	}

}

.menu	{
	position:  	relative;
	float: 		left;
	width:		10%;
	margin: 	1% 0;
	min-width: 	120px;
	height: 	180px;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 0px 8px 0px #ddd;


	h4	{
		font-family: sans-serif;
		font-weight: 900;
		letter-spacing: -2.35px;
		font-size: 		25px;
		margin: 	10px auto 25px;
	}

	#forget {
		
		background-color: #ff6666;
		
		&:hover{
			background-color: lighten(#ff6666, 6%);
		}
		&:active {
			background-color: darken(#ff6666, 4%);
			cursor: 	crosshair;
		}

	}

}


.player-info{
	width:		10%;
	min-width: 	220px;
	padding: 	1% 2%;
	height: 	90%;
	margin: 	1% 0 0 1%;
	box-shadow: 0px 0px 8px 0px #ddd;
	background-color: 	#fff;
	text-align: center;
	position: 	relative;
	float: 		left;
	overflow-y: scroll;

	h1	{
		font-size: 	28px;
		font-family: sans-serif;
		font-weight: 900;
		letter-spacing: -2.35px;
		margin: 	10px auto 25px;
	}
	.deet 	{
		width:			60%;
		padding: 		6px 10px;
		min-width: 		195px;
		margin: 		20px auto;
		border: 		1px solid #ddd;
		border-radius: 	3px;
		box-shadow: 	0 0 6px #ddd;

		h2	{
			display: 		inline-block;
			padding: 		0 10px;
			width: 			auto;
			font-size: 		18px;
			font-family: 	sans-serif;
			font-weight: 	900;
			letter-spacing: -1.15px;
			background-color: 	#fff;
			position: 		relative;
			top:			-20px;
			margin: 	0 auto;
		}
		div.val {
			font-size: 		34px;
			font-family: 	sans-serif;
			letter-spacing: -1.6px;
			&#money{
				font-size: 2em;
			}

		}
		.prog-bar {

			height: 	20px;
			border-radius: 7px;
			border:		1px solid #ccc;
			width:		100%;
			padding: 	0;
			margin: 	0;
			position: 	relative;

			background-color: 	#ddd;


			.inner {
				height: 20px;
				border-radius: 7px;
				width:	100%;
				position: absolute;
				background-color: #0ac;
				text-align: 	center;
				font-size: 		16px;
				&#day-fill{
					background: #7e8e36; /* Old browsers */
					background: -moz-linear-gradient(top,  #7e8e36 0%, #657a09 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e8e36), color-stop(100%,#657a09)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #7e8e36 0%,#657a09 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #7e8e36 0%,#657a09 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #7e8e36 0%,#657a09 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #7e8e36 0%,#657a09 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e8e36', endColorstr='#657a09',GradientType=0 ); /* IE6-9 */
				}
				&#lvl-fill{
					width:	0%;
					background: #ff3b26; /* Old browsers */
					background: -moz-linear-gradient(top,  #ff3b26 0%, #e50000 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3b26), color-stop(100%,#e50000)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #ff3b26 0%,#e50000 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #ff3b26 0%,#e50000 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #ff3b26 0%,#e50000 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #ff3b26 0%,#e50000 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b26', endColorstr='#e50000',GradientType=0 ); /* IE6-9 */
					z-index: 	100;
				}

			}	
			.xp-to-next{
				position: absolute;
				width: 		50%;
				left:		25%;
				margin: 	0;
				top:		2px;
				color:		#fff;
				z-index: 	300;
				font: 		14px sans-serif;
				text-shadow: 0 0 4px #333;
			}

		}
		

	}
}

.modial	{
	position: absolute;
	left: 	0;
	top: 	0;
	width: 	100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(50,50,50,0.7);
	text-align: center;	
	z-index: 9000;
	.inner-modial{
		width:	40%;
		height:	40%;
		min-width: 450px;
		min-height: 281.25px;
		background-color: #eee;
		padding:	50px;
		margin: 5% auto 0;
		
		font-size: 		18px;
		font-family: 	sans-serif;
		font-weight: 	900;
		letter-spacing: -1.15px;
		line-height: 	1.618em;

		

	}
	.lvl-up-text{
		margin: 	8px 12px;
		font-size: 	30px;
		font-weight: bold;
	}
}

.main 		{
	float: 			left;
	width: 			55%;
	min-width: 		200px;
	height:			94%;
	margin: 		1%;
	box-shadow: 	0px 0px 8px 0px #ddd;
	background-color: 	#fff;
	overflow-y: 	scroll;

	.projects	{

		position: 	relative;
		width: 		98%;
		margin: 	0;
		padding: 	1%;
		min-height: 50px;
		text-align: center;
		
		h3		{
			font-family: sans-serif;
			font-weight: 900;
			letter-spacing: -2.5px;
			font-size: 		28px;
			margin: 	10px auto 25px;
		}

		.project {

			width: 		100%;
			box-sizing:	border-box;
			padding:	25px 5%;
			border-bottom: 1px solid #eee;

			font-family: sans-serif;
			font-size: 	22px;
			text-align: left;
			line-height: 	1.618em;


			&:nth-of-type(odd){
				background-color:  darken(#EBFAFF, 15%);
			}
			&:nth-of-type(even){
				background-color:  darken(#EBFAFF, 5%);
			}

		}


	}

}
